{% extends 'base.html.twig' %}

{% block title %}Disastweet{% endblock %}

{% block body %}
    {% trans_default_domain 'global' %}

    <div class="welcomeTitle margeTopNeg180">Bienvenue sur 
        <p class="superFont">Disastweet</p>
    </div>

{% endblock %}



